input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.error {
  font-size: 12px;
}

.success {
  font-size: 30px;
  margin-top: 250px;
}

.form-error {
  font-size: 14px;
}
