<section class="w-100 h-100 d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="mb-4">Регистрация</h1>
    <form
      class="d-flex flex-column gap-3 w-25 mx-auto"
      [formGroup]="signupForm"
    >
      <input
        type="text"
        class="py-1 px-3 rounded"
        formControlName="name"
        placeholder="Имя..."
        formControlName="name"
        [ngStyle]="{
          'border-color':
            name?.invalid && (name?.dirty || name?.touched) ? 'red' : ''
        }"
      />
      <input
        type="email"
        class="py-1 px-3 rounded"
        formControlName="email"
        placeholder="Email..."
        formControlName="email"
        [ngStyle]="{
          'border-color':
            email?.invalid && (email?.dirty || email?.touched) ? 'red' : ''
        }"
      />
      <button
        [disabled]="signupForm.invalid"
        (click)="signup()"
        class="btn border-0 rounded bg-primary text-white py-2"
      >
        Вход
      </button>
    </form>
    <div class="redirect d-flex gap-1 justify-content-center mt-3">
      <span>Уже есть аккаунт?</span><a href="/login">Войдите</a>
    </div>
  </div>
</section>
